* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* main */

.main {
    height: 100%;
    color: #f5f3f4;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 19vh;
    width: 100%;
    background-color: #000;
}

.header-logo-container {
    width: 40%;
    margin: auto;
    text-align: center;
}

.header-logo-container a {
    color: #f5f3f4;
    text-decoration: none;
}

.header-logo {
    font-size: 3rem;
}

.header-logo:hover {
    color: #bbd1ea;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    font-size: 1.3rem;
}

.header-nav a {
    color: #f5f3f4;
    text-decoration: none;
}

.header-nav a:hover {
    color: #bbd1ea;
    border-bottom: 1px solid #0061ff;
}

/* Services */

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Service */

.service-container {
    width: 60%;
    text-align: center;
    color: #f5f3f4;
    font-weight: bold;
    background-color: black;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 4px solid;
    border-image: linear-gradient(
        to right, #0061ff, #60efff
    );
    border-image-slice: 1;
    border-radius: 15px;
}

.service-container a {
    text-decoration: none;
}

.service-title {
    color: #e0dfd5;
}

.service-title:hover {
    color: grey;
}

.service-price {
    width: 50%;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-price-usd {
    background-color: #008000;
}

.service-price-pen {
    background-color: #003459;
}

.service-btn {
    /* margin: auto; */
    margin: 15px;
    font-weight: bold; 
}

/* Subscriptions */

.subscriptions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Subscription */

.subscription-container {
    border-image: linear-gradient(
        to right, #151515, #38ef7d
    );
    border-image-slice: 1;
    width: 75%;
}

.subscription-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    height: 5rem;
}

.subscription-header button {
    background-color: #38ef7d;
    border: none;
    width: 30%;
    padding: 0.6rem 0;
    border-radius: 15px;
    font-weight: bold;
}

.subscription-platform {
    width: 50%;
    padding: 1rem 0;
    border-radius: 15px;
    text-align: center;
}

.subscription-platform-paramount {
    background-color: #2a5d93;
}

.subscription-platform-netflix {
    background-color: #e40713;
}

.subscription-platform-disney {
    background-color: #23046c;
}

.subscription-platform-prime {
    background-color: #4da5dc;
}

.subscription-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subscription-details {
    text-align: left;
    margin: 1rem;
}

.subscription-details p {
    border-bottom: 1px solid grey;
    margin: 30px 0;
}

.subscription-features {
    text-align: right;
    margin: 1rem;
    line-height: 3rem;
}

.subscription-features ul li {
    list-style: none;
}
